body {
  /* font-family: "Merriweather", serif; */
  /* font-optical-sizing: auto; */
  /* font-weight: 300; */
  /* font-style: normal; */
  /* font-variation-settings: "wdth" 100; */
  /* font-size: 23px; */
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 23px;
  margin: 0;
}

$small: 550px;
$medium: 1050px;
$focus-color: #007BFF;

img {
  max-width: 100%;
}

.icon {
  width: 24px;
  vertical-align: middle;
  padding: 0 6px;
}

.subtitle {
  color: #777;
  display: inline-flex;
  align-items: center;
}

main {
  @media screen and (min-width: $small) {
    margin: 0 48px;
  }

  @media screen and (min-width: $medium) {
    max-width: 800px;
    margin: 0 auto 0;
  }
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: black;
  color: white;

  &:after {
    content: "";
    display: block;
    height: 2px;
    background-color: #f2f2f2;
    width: 100%;
  }
}

a {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus {
    text-decoration: none;
    color: inherit;
  }

  &:active {
    color: inherit;
  }
}

h1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 47px;
}

.nav {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  max-width: 960px;
  margin: 0 auto 0;

  @media screen and (min-width: $small) and (max-width: $medium) {
    max-width: 100%;
    height: 5em;
    justify-content: center;

    #menu-open {
      position: absolute;
      left: 32px;
      filter: invert(1);
      width: 36px;
    }

    ul {
      display: none;
    }
  }

  @media screen and (min-width: $medium) {
    max-width: 960px;
    justify-content: flex-end;

    h1 {
      font-size: 48px;
      font-weight: 600;
    }

    #menu-open {
      display: none;
    }

    ul {
      font-size: 18px;
      font-weight: 500;
      transform: translate(0, 2.2em);
    }
  }
}

#menu-popup {
  position: fixed;
  background-color: white;
  color: black;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  z-index: 1000;

  header {
    position: relative;
    display: flex;
    align-items: center;
    height: 5em;
    background-color: white;

    img {
      margin-left: 32px;
      width: 36px;
    }

    &:after {
      content: "";
      display: block;
      height: 2px;
      background-color: black;
      width: 100%;
      position: absolute;
      bottom: 0;
      z-index: 1001;
    }
  }

  ul {
    display: inline-flex;
    flex-direction: column;
    gap: 24px;
    margin: 48px;
    padding: 0;
    list-style: none;
    font-size: 28px;
    font-weight: 500;
  }
}

#menu-popup.hidden {
  display: none;
}

.nav-list {
  display: inline-flex;
  padding: 0;
  column-gap: 2em;
  list-style: none;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 1em;

  button {
    width: fit-content;
    background: black;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-family: "Inter";
    font-weight: 500;
    font-size: 16px;
    border: 2px solid transparent;

    &:hover {
      background: lighten(black, 20%);
    }

    &:active {
      background: lighten(black, 30%);
    }

    &:focus {
      outline: none;
      border: 2px solid $focus-color;
    }
  }

  label {
    display: flex;
    flex-direction: column;
  }

  input,
  textarea {
    padding: 8px;
    border: 2px solid #f2f2f2;


    font-size: 16px;
    font-family: "Inter";

    &:focus {
      outline: none;
      border: 2px solid black;
    }
  }

  textarea {
    height: 10em;
    resize: none;
  }
}


.posts-list {
  list-style: none; /* Remove bullets */
  padding: 0;
  margin: 2em 0;
}

.post-item {
  margin-bottom: 2.5em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #ddd;
}

.post-item h2 {
  font-family: "Playfair Display", serif;
  font-weight: 200;
  font-size: 1.5em;
}

.post-item h2 a {
  text-decoration: none;
  color: #333;
  transition: color 0.2s ease;
}

.post-item h2 a:hover {
  color: lighten(black, 50%);
}

.post-date {
  color: #777;
  margin-bottom: 0.8em;
}

.post-summary {
  margin-bottom: 0.8em;
  margin-top: 1em;

  p {
    display: inline;
  }
}

.read-more {
  font-weight: semibold;
  text-decoration: none;
  transition: text-decoration 0.2s ease;
}

.read-more:hover {
  text-decoration: underline;
}

.read-more-inline {
  display: inline-block;
  font-weight: 500;
  white-space: nowrap;
  text-decoration: none;
  transition: text-decoration 0.2s ease;
}

.read-more-inline:hover {
  text-decoration: underline;
}
